Notes/EntityFrameworkDBProviderTests/Connected Services/NotesServiceIIS/NotesServiceIIS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NotesServiceIIS" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:10053/NotesServiceIIS.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:10053/NotesServiceIIS.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:10053/NotesServiceIIS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Notes.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INotesService_CustomerRegistration_InputMessage">
    <wsdl:part name="parameters" element="tns:CustomerRegistration" />
  </wsdl:message>
  <wsdl:message name="INotesService_CustomerRegistration_OutputMessage">
    <wsdl:part name="parameters" element="tns:CustomerRegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="INotesService_UpdateCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomer" />
  </wsdl:message>
  <wsdl:message name="INotesService_UpdateCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="INotesService_DeleteCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomer" />
  </wsdl:message>
  <wsdl:message name="INotesService_DeleteCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="INotesService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="INotesService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="INotesService_GetCustomersShortNotes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomersShortNotes" />
  </wsdl:message>
  <wsdl:message name="INotesService_GetCustomersShortNotes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomersShortNotesResponse" />
  </wsdl:message>
  <wsdl:message name="INotesService_AddNote_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNote" />
  </wsdl:message>
  <wsdl:message name="INotesService_AddNote_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNoteResponse" />
  </wsdl:message>
  <wsdl:message name="INotesService_EditNote_InputMessage">
    <wsdl:part name="parameters" element="tns:EditNote" />
  </wsdl:message>
  <wsdl:message name="INotesService_EditNote_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditNoteResponse" />
  </wsdl:message>
  <wsdl:message name="INotesService_EditNoteTitle_InputMessage">
    <wsdl:part name="parameters" element="tns:EditNoteTitle" />
  </wsdl:message>
  <wsdl:message name="INotesService_EditNoteTitle_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditNoteTitleResponse" />
  </wsdl:message>
  <wsdl:message name="INotesService_EditNoteText_InputMessage">
    <wsdl:part name="parameters" element="tns:EditNoteText" />
  </wsdl:message>
  <wsdl:message name="INotesService_EditNoteText_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditNoteTextResponse" />
  </wsdl:message>
  <wsdl:message name="INotesService_GetNote_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNote" />
  </wsdl:message>
  <wsdl:message name="INotesService_GetNote_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNoteResponse" />
  </wsdl:message>
  <wsdl:portType name="INotesService">
    <wsdl:operation name="CustomerRegistration">
      <wsdl:input wsaw:Action="http://tempuri.org/INotesService/CustomerRegistration" message="tns:INotesService_CustomerRegistration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotesService/CustomerRegistrationResponse" message="tns:INotesService_CustomerRegistration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/INotesService/UpdateCustomer" message="tns:INotesService_UpdateCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotesService/UpdateCustomerResponse" message="tns:INotesService_UpdateCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/INotesService/DeleteCustomer" message="tns:INotesService_DeleteCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotesService/DeleteCustomerResponse" message="tns:INotesService_DeleteCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/INotesService/Login" message="tns:INotesService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotesService/LoginResponse" message="tns:INotesService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomersShortNotes">
      <wsdl:input wsaw:Action="http://tempuri.org/INotesService/GetCustomersShortNotes" message="tns:INotesService_GetCustomersShortNotes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotesService/GetCustomersShortNotesResponse" message="tns:INotesService_GetCustomersShortNotes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNote">
      <wsdl:input wsaw:Action="http://tempuri.org/INotesService/AddNote" message="tns:INotesService_AddNote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotesService/AddNoteResponse" message="tns:INotesService_AddNote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditNote">
      <wsdl:input wsaw:Action="http://tempuri.org/INotesService/EditNote" message="tns:INotesService_EditNote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotesService/EditNoteResponse" message="tns:INotesService_EditNote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditNoteTitle">
      <wsdl:input wsaw:Action="http://tempuri.org/INotesService/EditNoteTitle" message="tns:INotesService_EditNoteTitle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotesService/EditNoteTitleResponse" message="tns:INotesService_EditNoteTitle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditNoteText">
      <wsdl:input wsaw:Action="http://tempuri.org/INotesService/EditNoteText" message="tns:INotesService_EditNoteText_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotesService/EditNoteTextResponse" message="tns:INotesService_EditNoteText_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNote">
      <wsdl:input wsaw:Action="http://tempuri.org/INotesService/GetNote" message="tns:INotesService_GetNote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotesService/GetNoteResponse" message="tns:INotesService_GetNote_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INotesService" type="tns:INotesService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CustomerRegistration">
      <soap:operation soapAction="http://tempuri.org/INotesService/CustomerRegistration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <soap:operation soapAction="http://tempuri.org/INotesService/UpdateCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomer">
      <soap:operation soapAction="http://tempuri.org/INotesService/DeleteCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/INotesService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomersShortNotes">
      <soap:operation soapAction="http://tempuri.org/INotesService/GetCustomersShortNotes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNote">
      <soap:operation soapAction="http://tempuri.org/INotesService/AddNote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditNote">
      <soap:operation soapAction="http://tempuri.org/INotesService/EditNote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditNoteTitle">
      <soap:operation soapAction="http://tempuri.org/INotesService/EditNoteTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditNoteText">
      <soap:operation soapAction="http://tempuri.org/INotesService/EditNoteText" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNote">
      <soap:operation soapAction="http://tempuri.org/INotesService/GetNote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NotesServiceIIS">
    <wsdl:port name="BasicHttpBinding_INotesService" binding="tns:BasicHttpBinding_INotesService">
      <soap:address location="http://localhost:10053/NotesServiceIIS.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>