Notes/IntegrationTests/Connected Services/NotesServiceImpl/NotesServiceIIS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NotesServiceIIS" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:10053/NotesServiceIIS.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:10053/NotesServiceIIS.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:10053/NotesServiceIIS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Notes.CommunicationContract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INotesService_LoginExists_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginExists" />
  </wsdl:message>
  <wsdl:message name="INotesService_LoginExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginExistsResponse" />
  </wsdl:message>
  <wsdl:message name="INotesService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="INotesService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="INotesService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="INotesService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="INotesService_GetNotes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNotes" />
  </wsdl:message>
  <wsdl:message name="INotesService_GetNotes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNotesResponse" />
  </wsdl:message>
  <wsdl:message name="INotesService_GetNote_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNote" />
  </wsdl:message>
  <wsdl:message name="INotesService_GetNote_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNoteResponse" />
  </wsdl:message>
  <wsdl:message name="INotesService_AddNote_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNote" />
  </wsdl:message>
  <wsdl:message name="INotesService_AddNote_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNoteResponse" />
  </wsdl:message>
  <wsdl:message name="INotesService_UpdateNote_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateNote" />
  </wsdl:message>
  <wsdl:message name="INotesService_UpdateNote_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateNoteResponse" />
  </wsdl:message>
  <wsdl:message name="INotesService_DeleteNote_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteNote" />
  </wsdl:message>
  <wsdl:message name="INotesService_DeleteNote_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteNoteResponse" />
  </wsdl:message>
  <wsdl:portType name="INotesService">
    <wsdl:operation name="LoginExists">
      <wsdl:input wsaw:Action="http://tempuri.org/INotesService/LoginExists" message="tns:INotesService_LoginExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotesService/LoginExistsResponse" message="tns:INotesService_LoginExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/INotesService/Register" message="tns:INotesService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotesService/RegisterResponse" message="tns:INotesService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/INotesService/Login" message="tns:INotesService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotesService/LoginResponse" message="tns:INotesService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNotes">
      <wsdl:input wsaw:Action="http://tempuri.org/INotesService/GetNotes" message="tns:INotesService_GetNotes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotesService/GetNotesResponse" message="tns:INotesService_GetNotes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNote">
      <wsdl:input wsaw:Action="http://tempuri.org/INotesService/GetNote" message="tns:INotesService_GetNote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotesService/GetNoteResponse" message="tns:INotesService_GetNote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNote">
      <wsdl:input wsaw:Action="http://tempuri.org/INotesService/AddNote" message="tns:INotesService_AddNote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotesService/AddNoteResponse" message="tns:INotesService_AddNote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateNote">
      <wsdl:input wsaw:Action="http://tempuri.org/INotesService/UpdateNote" message="tns:INotesService_UpdateNote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotesService/UpdateNoteResponse" message="tns:INotesService_UpdateNote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteNote">
      <wsdl:input wsaw:Action="http://tempuri.org/INotesService/DeleteNote" message="tns:INotesService_DeleteNote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotesService/DeleteNoteResponse" message="tns:INotesService_DeleteNote_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INotesService" type="tns:INotesService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoginExists">
      <soap:operation soapAction="http://tempuri.org/INotesService/LoginExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/INotesService/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/INotesService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNotes">
      <soap:operation soapAction="http://tempuri.org/INotesService/GetNotes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNote">
      <soap:operation soapAction="http://tempuri.org/INotesService/GetNote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNote">
      <soap:operation soapAction="http://tempuri.org/INotesService/AddNote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateNote">
      <soap:operation soapAction="http://tempuri.org/INotesService/UpdateNote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteNote">
      <soap:operation soapAction="http://tempuri.org/INotesService/DeleteNote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NotesServiceIIS">
    <wsdl:port name="BasicHttpBinding_INotesService" binding="tns:BasicHttpBinding_INotesService">
      <soap:address location="http://localhost:10053/NotesServiceIIS.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>